[submodule ".registry"]
	path = .registry
	url = https://github.com/thothorn/thothorn.r-universe.dev
	branch = HEAD
[submodule "TH.data"]
	path = TH.data
	url = https://codeberg.org/thothorn/TH.data
[submodule "coin"]
	path = coin
	url = https://codeberg.org/thothorn/coin
	subdir = pkg/coin
[submodule "exactRankTests"]
	path = exactRankTests
	url = https://codeberg.org/thothorn/exactRankTests
[submodule "free1way.docreg"]
	path = free1way.docreg
	url = https://codeberg.org/thothorn/coin
	subdir = pkg/free1way.docreg
[submodule "ipred"]
	path = ipred
	url = https://codeberg.org/thothorn/ipred
[submodule "libcoin"]
	path = libcoin
	url = https://codeberg.org/thothorn/coin
	subdir = pkg/libcoin
[submodule "modeltools"]
	path = modeltools
	url = https://codeberg.org/thothorn/modeltools
[submodule "multcomp"]
	path = multcomp
	url = https://codeberg.org/thothorn/multcomp
[submodule "mvtnorm"]
	path = mvtnorm
	url = https://codeberg.org/thothorn/mvtnorm
[submodule "party"]
	path = party
	url = https://codeberg.org/thothorn/party
	subdir = pkg
