[submodule ".registry"]
	path = .registry
	url = https://github.com/thothorn/thothorn.r-universe.dev
	branch = HEAD
[submodule "TH.data"]
	path = TH.data
	url = https://codeberg.org/thothorn/TH.data
[submodule "exactRankTests"]
	path = exactRankTests
	url = https://codeberg.org/thothorn/exactRankTests
[submodule "ipred"]
	path = ipred
	url = https://codeberg.org/thothorn/ipred
[submodule "modeltools"]
	path = modeltools
	url = https://codeberg.org/thothorn/modeltools
[submodule "multcomp"]
	path = multcomp
	url = https://codeberg.org/thothorn/multcomp
[submodule "mvtnorm"]
	path = mvtnorm
	url = https://codeberg.org/thothorn/mvtnorm
[submodule "party"]
	path = party
	url = https://codeberg.org/thothorn/party
	subdir = pkg
